.header-container{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    text-align: end;
    color: black;
    margin-right: 40px;
}
a:hover{
    color: crimson;
}
.active{
    color: brown;
}
body{
    background-color: thistle;
}
.navbar{
    background-color: cornflowerblue;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 2%;
    animation-name: colour;
  animation-duration: infinite;
}
img{
    margin-top: 3%;
    animation-duration: fadeIn 5s;
    border-radius: 15px 25px;
}
.text{
    animation-name: fadeIn;
    animation-duration: 5s;
}
@keyframes colour {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }