.header-container{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    text-align: end;
    color: black;
    margin-right: 40px;
}
a:hover{
    color: crimson;
}
.active{
    color: brown;
}
body{
    background-color: thistle;
}
.navbar{
    background-color: cornflowerblue;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 2%;
}
.image{
    margin-top: 3%;
    animation-duration: fadeIn 5s;
}
.text{
    animation-name: fadeIn;
    animation-duration: 5s;
}
@keyframes fadeIn{
    from{opacity: 0%;}
    to{opacity: 100%;}
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0.5;}

}
@keyframes slide{
    100%{left: 0;}
}